@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-slate-900 bg-[#F8FAFC] antialiased selection:bg-indigo-100;
    overflow-x: hidden;
  }
}

@layer components {
  .glass-orb {
    @apply bg-white/60 backdrop-blur-xl border border-white/40 transition-all duration-500 ease-out;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.04);
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}